<div class="container cards border m-1">
  <div class="row">
    <div class="col font-weight-bold">{{SourceData.detials.brand}} {{SourceData.detials.model}}
      {{SourceData.detials.brokenPart}}</div>
  </div>
  <div class="row">
    <div class="col font-weight-bold">订单状态：{{StateContert(SourceData.orderState)}}</div>
  </div>
  <div class="row">
    <div class="col">{{DateContert(SourceData.createdTime)}}-{{DateContert(SourceData.createdTime)}}</div>
  </div>
  <!-- <div class="row">
    <div class="col">维修工程师：{{SourceData.Engineers.join(";")}}</div>
  </div> -->
</div>