<form>
  <div class="form-group">
    <label for="brand">品牌</label>
    <input name="brand" class="form-control" id="brand" (change)="BrandsChange()" required
      [(ngModel)]="Data.detials.brand" />
  </div>
  <div class="form-group">
    <label for="model">型号</label>
    <input name="model" class="form-control" id="model" required [(ngModel)]="Data.detials.model" />
  </div>
  <div class="form-group">
    <label for="details">维修内容</label>
    <textarea name="details" class="form-control" placeholder="手机损毁详细情况：手机屏幕破裂（内屏没有坏）......" id="details"
      [(ngModel)]="Data.detials.brokenPart"></textarea>
  </div>
  <div class="form-group">
    <label for="method">服务方式</label>
    <select name="method" class="form-control" id="method" [(ngModel)]="Data.type">
      <option value="1">到店维修</option>
      <option value="2">上门维修</option>
    </select>
  </div>
  <div class="form-group">
    <label *ngIf="Data.type==2" for="procTime">上门时间</label>
    <label *ngIf="Data.type==1" for="procTime">到店时间</label>
    <input name="procTime" class="form-control" type="datetime-local" id="procTime" [(ngModel)]="Data.procTime" />
  </div>
  <div *ngIf="Data.type==2" class="form-group">
    <label for="address">地址</label>
    <textarea name="address" class="form-control" placeholder="家庭住址" id="address" [(ngModel)]="Data.address"></textarea>
  </div>
  <div class="form-group">
    <!-- <button type="button" class="btn btn-secondry" (click)="CancelOrder();">撤销订单</button> -->
    <button type="button" class="btn btn-primary" (click)="FinishOrder();">完 成</button>
    <!-- 目前可多人受理 -->
    <button type="button" class="btn" (click)="AcceptOrder();">受 理</button>
    <button type="button" class="btn" (click)="CancelOrder();">取消订单</button>
  </div>
</form>