<form>
  <div class="form-group">
    <label for="brand">品牌</label>
    <select #selectedbrand name="brand" disabled class="form-control" id="brand" [(ngModel)]="Data.Detials.Brand">
      <option *ngFor="let brand of OrderListService.Brands" value="{{brand.value}}">{{brand.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="model">型号</label>
    <select name="model" class="form-control" disabled id="model" [(ngModel)]="Data.Detials.model">
      <option *ngFor="let model of OrderListService.Models[Data.Detials.Brand]" value="{{model.value}}">{{model.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="boken">损坏的部件</label>
    <input name="boken" type="input" disabled class="form-control" id="boken" placeholder="摄像头" [(ngModel)]="Data.Detials.BrokenPart">
  </div>
  <div class="form-group">
    <label for="phoneNumber">手机号</label>
    <input name="phoneNumber" type="number" disabled class="form-control" id="phoneNumber" placeholder="手机号码" [(ngModel)]="Data.PhoneNumber">
  </div>
  <div class="form-group">
    <label for="address">地址</label>
    <textarea name="address" class="form-control" disabled placeholder="家庭住址" id="address" [(ngModel)]="Data.Address"></textarea>
  </div>
  <div class="form-group">
    <button type="button" *ngIf="IsShow('determine')" class="btn btn-secondry" (click)="CancelOrder();">撤销订单</button>
    <button type="button" *ngIf="IsShow('finish')" class="btn btn-primary" (click)="FinishOrder();">完 成</button>
    <!-- 目前可多人受理 -->
    <button type="button" *ngIf="IsShow('acceptOrder')" class="btn" (click)="AcceptOrder();">受 理</button>
    <button type="button" *ngIf="IsShow('cancelApply')" class="btn" (click)="CancelOrderApply();">取消订单</button>
  </div>
</form>