<form>
  <div class="form-group">
    <label for="brand">品牌</label>
    <select #selectedbrand name="brand" class="form-control" id="brand" [(ngModel)]="Data.detials.brand">
      <option *ngFor="let brand of orderListService.Brands" value="{{brand.value}}">{{brand.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="model">型号</label>
    <select name="model" class="form-control" id="model" [(ngModel)]="Data.detials.model">
      <option *ngFor="let model of orderListService.Models[Data.detials.brand]" value="{{model.value}}">{{model.name}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="boken">维修内容</label>
    <input name="boken" type="input" class="form-control" id="boken" placeholder="维修内容"
      [(ngModel)]="Data.detials.brokenPart">
  </div>
  <div class="form-group">
    <label for="procTime" *ngIf="!addressShow">到店时间</label>
    <label for="procTime" *ngIf="addressShow">上门时间</label>
    <input name="procTime" class="form-control" type="datetime" id="procTime" [(ngModel)]="Data.procTime" />
  </div>
  <div class="form-group">
    <label for="phoneNumber">联系方式</label>
    <input name="phoneNumber" type="number" class="form-control" id="phoneNumber" placeholder="手机号码"
      [(ngModel)]="Data.phoneNumber">
  </div>
  <div class="form-group" *ngIf="addressShow">
    <label for="address">地址</label>
    <textarea name="address" class="form-control" placeholder="家庭住址" id="address" [(ngModel)]="Data.address"></textarea>
  </div>
  <div class="form-group">
    <!-- <button type="button" class="btn btn-secondry" (click)="CancelOrder();">撤销订单</button> -->
    <button type="button" class="btn btn-primary" (click)="FinishOrder();">完 成</button>
    <!-- 目前可多人受理 -->
    <button type="button" class="btn" (click)="AcceptOrder();">受 理</button>
    <button type="button" class="btn" (click)="CancelOrder();">取消订单</button>
  </div>
</form>