:host{
    display:block;
}
.mat-elevation-z8{
    height: 100%;
}
.selected{
    color: red;
    font: bolder 微软雅黑 1.2rem；
}
.mat-elevation-z8{
    height: calc(100vh - 110px) !important;
}
table{
    width: 100%;
}

/* td,th{
    min-width: 120px;
    max-width: 400px;
} */