<form class="container">
  <div class="form-group">
    <label for="brand">品牌</label>
    <select #selectedbrand name="brand" class="form-control" id="brand" [(ngModel)]="Data.detials.brand">
      <option *ngFor="let brand of orderListService.Brands" value="{{brand.value}}">{{brand.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="model">型号</label>
    <select name="model" class="form-control" id="model" [(ngModel)]="Data.detials.model">
      <option *ngFor="let model of orderListService.Models[Data.detials.brand]" value="{{model.value}}">{{model.name}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="details">维修内容</label>
    <textarea name="details" class="form-control" placeholder="手机损毁详细情况：手机屏幕破裂（内屏没有坏）......" id="details"
      [(ngModel)]="Data.detials.brokenPart"></textarea>
  </div>
  <div class="form-group">
    <label for="phoneNumber">手机号</label>
    <input name="phoneNumber" type="number" class="form-control" id="phoneNumber" placeholder="手机号码"
      [(ngModel)]="Data.phoneNumber">
  </div>
  <div class="form-group">
    <label for="address">地址</label>
    <textarea name="address" class="form-control" placeholder="家庭住址" id="address" [(ngModel)]="Data.address"></textarea>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-block btn-large btn-primary" (click)="Submit();">提 交</button>
  </div>
</form>