<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" width="100%" alt="Random first slide">
    <div class="carousel-caption">
      <!-- <h3>First slide label</h3> -->
      <!-- <p>专业</p> -->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" width="100%" alt="Random second slide">
    <div class="carousel-caption">
      <!-- <h3>Second slide label</h3> -->
      <!-- <p>负责</p> -->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" width="100%" alt="Random third slide">
    <div class="carousel-caption">
      <!-- <h3>Third slide label</h3> -->
      <!-- <p>无忧</p> -->
    </div>
  </ng-template>
</ngb-carousel>