<div class="contain">
  <div class="row">
    <div class="col">title</div>
  </div>
  <div class="row">
    <div class="col">品牌</div>
  </div>
  <div class="row">
    <div class="col">型号</div>
  </div>
  <div class="row">
    <div class="col">损坏部件</div>
  </div>
  <div class="row">
    <div class="col">具体情况</div>
  </div>
  <div class="row">
    <div class="col">状态</div>
  </div>
  <div class="row">
    <div class="col">时间</div>
  </div>
  <div class="row">
    <div class="col">申请人</div>
    <div class="col">电话</div>
  </div>
  <div class="row">
    <div class="col">地址</div>
  </div>
</div>